---
import Layout from '../layouts/Layout.astro';
---

<Layout title="About Us | M&T Company">
  <div class="container mx-auto px-4 py-32">
    <h1 class="text-4xl font-bold text-center mb-12">About M&T Company</h1>
    <div class="max-w-4xl mx-auto text-lg text-gray-700 leading-relaxed">
      <p class="mb-8">
        We, M/s M T & Company, Chartered Accountants have been dedicated to providing valuable services to our Clients. Our offices are spread across different cities enabling us to deliver better and faster services to the clients. We presently have offices in Delhi, Ghaziabad, Noida, and Patna.
      </p>
      <p class="mb-8">
        We aim to not only meet but exceed our client’s expectations consistently by imbibing our firms’ values through personalized service, experience, teamwork, professionalism & specialization.
      </p>
      <h2 class="text-3xl font-bold text-center my-12">Our Commitment to Excellence</h2>
      <p class="mb-8">
        Our commitment to excellence is at the heart of everything we do. For us, good isn’t good enough. We always strive to walk with the latest technology to be faster, more accurate and efficient in our services. This drive fuels the commitment and humanity that run deep through our every action.
      </p>
    </div>
  </div>
</Layout>
